#graph {
  & line {
    stroke-dasharray: 3px;
    stroke: white;
  }
  & text {
    fill: white;
    opacity: 0;
    animation: textGraph 2s 2s 1 forwards;
  }
}
@keyframes textGraph {
  to {
    opacity: 0.7;
  }
}
