@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box;
  user-select: none;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

@font-face {
  font-family: Handlee;
  src: url("/src/client/global/assets/fonts//Handlee/Handlee-Regular.ttf");
}
@font-face {
  font-family: Jumper;
  font-weight: 100;
  src: url("/src/client/global/assets/fonts//jumper_3/JumperPERSONALUSEONLY-ThinItalic.ttf");
}
@font-face {
  font-family: Jumper;
  font-weight: 200;
  src: url("/src/client/global/assets/fonts//jumper_3/JumperPERSONALUSEONLY-LightItalic.ttf");
}
@font-face {
  font-family: Jumper;
  font-weight: 400;
  src: url("/src/client/global/assets/fonts//jumper_3/JumperPERSONALUSEONLY-RegularItalic.ttf");
}
@font-face {
  font-family: Jumper;
  font-weight: 600;
  src: url("/src/client/global/assets/fonts//jumper_3/JumperPERSONALUSEONLY-BoldItalic.ttf");
}
@font-face {
  font-family: Jumper;
  font-weight: 800;
  src: url("/src/client/global/assets/fonts//jumper_3/JumperPERSONALUSEONLY-Extra-BoldItalic.ttf");
}
@font-face {
  font-family: "Louis George Café";
  font-weight: 200;
  src: url("/src/client/global/assets/fonts//louis_george_cafe/Louis George Cafe Light.ttf");
}
@font-face {
  font-family: "Louis George Café";
  font-weight: 400;
  src: url("/src/client/global/assets/fonts//louis_george_cafe/Louis George Cafe.ttf");
}
@font-face {
  font-family: "Louis George Café";
  font-weight: 600;
  src: url("/src/client/global/assets/fonts//louis_george_cafe/Louis George Cafe Bold.ttf");
}
#previous {
  transform: rotate(180deg);
}

nav {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 60px;
  grid-area: 2/2/3/3;
  display: flex;
  justify-content: center;
  place-self: start;
  overflow: hidden;
  left: -0.1%;
  top: -0.1%;
}
nav > figure {
  width: 60px;
  height: 100%;
  min-height: 60px;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  margin-right: 4rem;
  cursor: pointer;
  background: #222429;
  border-top: 1px dashed;
  border-left: 1px dashed;
}
nav > figure > svg > path {
  animation: pulse infinite 2.5s;
}
nav > div {
  border-top: 1px dashed;
  position: absolute;
  left: -100%;
}
nav > div > button {
  font: 1.6rem Jumper;
  color: #38C7C7;
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 1rem;
}
nav > div > button:nth-child(1) {
  border-bottom: 2px solid #38C7C7;
}

@keyframes pulse {
  33% {
    filter: drop-shadow(0px 0px 10px #38C7C7);
  }
  66% {
    filter: drop-shadow(0px 0px 10px #38C7C7);
  }
}
.main_contact > #container > svg > g > foreignObject > input {
  width: 100%;
  height: 45px;
  padding: 0.5rem 0rem 0 2rem;
  background: none;
  border: none;
  font: 1.1rem Jumper;
  color: #38C7C7;
}
.main_contact > #container > svg > g > foreignObject > input:focus {
  outline: none;
}
.main_contact > #container > svg > g > foreignObject > textarea {
  padding: 0.5rem 0rem 0 2rem;
  background: none;
  border: none;
  font: 1.1rem Jumper;
  color: #38C7C7;
  resize: none;
}
.main_contact > #container > svg > g > foreignObject > textarea:focus {
  outline: none;
}

.card_category {
  width: 0;
  height: 0;
  text-align: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.card_category h1 {
  font: 1.4rem Jumper;
  color: #38C7C7;
  margin: 0.5rem 0 0;
  opacity: 0;
}
.card_category p {
  margin-top: 1rem;
  opacity: 0;
}
.card_category div:nth-of-type(2) {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0.5rem 0;
}
.card_category div:nth-of-type(2) button {
  border: none;
  background: none;
  font: 1.2rem Jumper;
  color: rgb(255, 255, 255);
  opacity: 0.7;
  display: block;
  margin: 0.5rem auto;
  cursor: pointer;
}
.card_category div:nth-of-type(2) button:hover {
  opacity: 1;
  transform: scale(1.05);
}
.card_category:hover {
  border: 1px solid #38C7C7;
}
.card_category:hover div:nth-of-type(2) {
  display: block;
  background: rgba(34, 36, 41, 0.8);
}
.card_category .logos {
  margin-top: 1rem;
  width: 35px;
  height: 35px;
}

#modal {
  position: absolute;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
  min-height: 50vh;
  padding: 2rem;
  background: #222429;
  border: 1px solid white;
}
#modal #error {
  text-align: center;
  font-size: 1.5rem;
  color: #FF4B33;
  margin-bottom: 1rem;
}
#modal h1,
#modal h2 {
  text-align: center;
  font-size: 2rem;
  line-height: 5vh;
}
#modal h1 mark.color_red,
#modal h2 mark.color_red {
  background: none;
  color: #FF4B33;
}
#modal h1 mark.text_blue,
#modal h2 mark.text_blue {
  background: none;
  color: #38C7C7;
}
#modal input {
  background: none;
  height: 45px;
  width: 70%;
  color: #38C7C7;
  border: 1px solid white;
  padding-left: 1rem;
  margin: 1rem auto;
  font-size: 1.4rem;
  outline: none;
  display: block;
}
#modal input[type=file] {
  display: none;
}
#modal label[for=file] {
  background: url("../../images/new_logo.svg");
  width: 50px;
  height: 50px;
  margin: 0 auto;
  cursor: pointer;
}
#modal div {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}
#modal button {
  display: block;
  font: 1.5rem Jumper;
  color: #38C7C7;
  background: transparent;
  border: 1px solid white;
  width: 200px;
  height: 50px;
  cursor: pointer;
  transition: 0.5s;
}
#modal button:hover {
  transform: scale(1.05);
  color: #FF4B33;
  border: 1px solid #FF4B33;
}
#modal label {
  width: 33%;
  font-size: 1.4rem;
  cursor: pointer;
  text-align: center;
}
#modal input[type=radio],
#modal input[type=checkbox] {
  width: 0;
  height: 0;
  border: none;
  background: transparent;
  display: none;
}
#modal input[type=radio]:checked + label,
#modal input[type=checkbox]:checked + label {
  color: #38C7C7;
}
#modal #update_project {
  display: block;
}
#modal #update_project div {
  display: flex;
}

* {
  font-family: "Louis George Café";
}

body {
  color: #F5F5F5;
  position: relative;
  overflow: hidden;
}
header {
  display: grid;
  grid-template: minmax(90px, 15vh) 7vh/20vw 50vw 30vw;
  place-items: center;
}
@media (width < 1400px) {
  header {
    grid-template: minmax(90px, 15vh) 7vh/20vw 60vw 20vw;
  }
}
@media (width < 1080px) {
  header {
    grid-template: minmax(90px, 15vh) 7vh/20vw 80vw;
  }
}
header > figure {
  width: 100%;
  height: 100%;
  border-right: 1px dashed;
  border-bottom: 1px dashed;
  display: flex;
  justify-content: center;
  align-items: center;
}
header > figure > img {
  display: block;
  margin: auto;
}

main {
  grid-area: 2/1/2/3;
  height: 78vh;
  display: grid;
  grid-template: 78vh/20vw 80vw;
  align-items: center;
}
main > div:first-of-type {
  display: grid;
  grid-template-rows: 14vh 64vh;
}

#socials {
  grid-area: 2/1/3/2;
  height: 40vh;
  min-height: 235px;
  width: 30%;
  min-width: 95px;
  margin: -1px 63px 0 auto;
  position: relative;
  border: 1px dashed;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
@media (width < 1000px) {
  #socials {
    margin: -1px auto;
  }
}
@media (height < 450px) {
  #socials {
    grid-area: 1/1/2/2;
    margin: 30px auto;
  }
}
#socials::before {
  content: "";
  position: absolute;
  left: 100%;
  bottom: 100%;
  height: 4.1rem;
  width: 4.1rem;
  padding-top: 0.5rem;
  border-left: 1px dashed;
  border-bottom: 1px dashed;
}
#socials::after {
  content: "";
  position: absolute;
  right: 100%;
  top: 100.1%;
  height: 4.1rem;
  width: 4.1rem;
  padding-top: 1rem;
  border-right: 1px dashed;
  border-top: 1px dashed;
}
@media (width < 1150px) {
  #socials::after {
    display: none;
  }
}
#socials > figure {
  cursor: pointer;
  max-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#socials > svg:nth-of-type(1) {
  position: absolute;
  z-index: 10;
  top: -3.5rem;
  right: -3rem;
}
#socials > svg:nth-of-type(2) {
  position: absolute;
  z-index: 10;
  bottom: -3.5rem;
  left: -3rem;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #222429;
  z-index: -1;
}

.main_about {
  display: grid;
  grid-template: 14vh 64vh/80%;
}
@media (width < 1340px) {
  .main_about {
    grid-template: 14vh 64vh/100%;
  }
}
.main_about h1 {
  margin-bottom: 4rem;
}
.main_about h1 > span {
  font: 3rem Jumper;
  text-transform: uppercase;
}
.main_about p > span {
  font: 2.25rem "Louis George Café";
}
.main_about .container_bio {
  margin: 3rem;
}

.sub_navbar {
  width: 0%;
  height: 0%;
  align-self: flex-end;
  border-bottom: 1px dashed;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}
.sub_navbar > button {
  position: relative;
  transform: translateY(1px);
  width: 100px;
  margin-left: 1rem;
  background: transparent;
  border: 1px dashed white;
  border-bottom: none;
  color: white;
  font-weight: 100;
  font-size: 1.1rem;
  letter-spacing: 1px;
  cursor: pointer;
}
.sub_navbar > button:nth-child(2) {
  border: 1px solid #38C7C7;
  color: #38C7C7;
}
.sub_navbar:nth-child(2) {
  border: 1px solid #38C7C7;
  color: #38C7C7;
}

.main_contact {
  display: grid;
  grid-template: 78vh/80%;
  overflow: hidden;
}
@media (width < 1310px) {
  .main_contact {
    display: block;
  }
}
.main_contact #container {
  padding: 4rem 6rem;
}
@media (width < 830px) {
  .main_contact #container {
    padding: 4rem 3rem 4rem 6rem;
  }
}
.main_contact #container > h1 {
  height: 10%;
  margin-top: 1rem;
}
.main_contact #container > h1 > span {
  font: 4rem Jumper;
  color: #38C7C7;
  text-transform: uppercase;
}
@media (width < 1150px) {
  .main_contact #container > h1 > span {
    font-size: 3.5rem;
  }
}
@media (width < 830px) {
  .main_contact #container > h1 > span {
    font-size: 3rem;
  }
}
@media (width < 750px) {
  .main_contact #container > h1 > span {
    font-size: 2.5rem;
  }
}
.main_contact #container > p {
  height: 10%;
  margin: 1rem 0;
}
.main_contact #container > p > span {
  font: 2.25rem "Louis George Café";
  color: rgba(255, 255, 255, 0.5);
}
@media (width < 830px) {
  .main_contact #container > p > span {
    font-size: 2rem;
  }
}
.main_contact #container > svg {
  margin-top: 2rem;
  width: 100%;
  height: 50vh;
}
.main_contact #container > svg line {
  stroke-dasharray: 3px;
}
.main_contact #container > svg > g:nth-child(1) {
  width: 55%;
  height: 45px;
}
.main_contact #container > svg > g:nth-child(1) > rect {
  fill: rgba(255, 255, 255, 0.15);
  width: 55%;
  height: 45px;
}
.main_contact #container > svg > g:nth-child(2) {
  width: 35%;
  height: 45px;
}
.main_contact #container > svg > g:nth-child(2) > rect {
  fill: rgba(255, 255, 255, 0.15);
  width: 35%;
  height: 45px;
}
.main_contact #container > svg > g:nth-child(3) {
  width: 100%;
  height: 40vh;
}
.main_contact #container > svg > g:nth-child(3) > rect {
  fill: rgba(255, 255, 255, 0.15);
  width: 100%;
  height: 50%;
}
.main_contact #container > svg > g:nth-child(4) > rect {
  fill-opacity: 0.15;
}
.main_contact #container > svg > g:nth-child(4) > foreignObject > button {
  color: white;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  font: 1.1rem Jumper;
  letter-spacing: 1px;
  cursor: pointer;
}

#main > p {
  font: 2.05rem "Louis George Café";
  text-align: center;
  width: 80%;
}
@media (width < 1180px) {
  #main > p {
    margin: 0 auto;
    width: 70%;
  }
}

.main_projects {
  margin: 5rem;
  width: 70%;
  height: 80%;
}
.main_projects #box {
  width: 0;
  height: 0;
  margin: 0 auto;
  border: 1px solid red;
}

.main_connect {
  display: grid;
  grid-template: 14vh 64vh/80%;
}
.main_connect > #container {
  grid-area: 2/1/3/1;
  width: 40vw;
  height: 50vh;
  margin: 0 auto;
  overflow: hidden;
}
.main_connect svg > g > line {
  stroke: white;
  stroke-dasharray: 3px;
}
.main_connect svg text {
  fill: white;
  opacity: 0.8;
  font: 2rem Jumper;
  text-decoration: none;
}
.main_connect svg foreignObject {
  display: flex;
}
.main_connect svg foreignObject input {
  width: 0;
  height: 0;
  border: 1px dashed white;
  box-shadow: 0px 0px 6px 2px #FF4B33 inset, 0px 0px 6px 3px #FF4B33;
  margin: 2rem auto 0;
  padding-left: 2rem;
  background: none;
}
.main_connect svg foreignObject input:focus {
  outline: none;
}

.main_interface {
  display: grid;
  grid-template: 14vh 64vh/80%;
}

.main_interface_project #subContainer {
  border: 1px dashed white;
}

.main_interface_project #container, .main_interface #container {
  border-bottom: 1px dashed white;
  height: 100%;
  width: 0;
  display: flex;
  align-items: flex-end;
  padding-left: 10%;
}
.main_interface_project #container ul, .main_interface #container ul {
  position: relative;
  bottom: -1px;
  height: 0;
  width: 70%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.main_interface_project #container ul li, .main_interface #container ul li {
  border-top: 1px dashed white;
  border-left: 1px dashed white;
  border-right: 1px dashed white;
  width: 160px;
  text-align: center;
  padding-top: 0.15rem;
  font: 1.1rem "Louis George Café";
}
.main_interface_project #container ul li:nth-child(1), .main_interface #container ul li:nth-child(1) {
  border: 1px solid #38C7C7;
  color: #38C7C7;
}
.main_interface_project #subContainer, .main_interface #subContainer {
  width: 70%;
  height: 0;
  margin-left: 10%;
  overflow: hidden;
  border-left: 1px dashed white;
  border-right: 1px dashed white;
}
.main_interface_project #subContainer header, .main_interface #subContainer header {
  display: grid;
  height: 33%;
  grid-template: 50% 50%/70% 30%;
  overflow: hidden;
}
.main_interface_project #subContainer header p, .main_interface #subContainer header p {
  grid-area: 1/1/3/1;
  text-align: center;
  line-height: 30px;
  padding: 0 2rem;
  font-size: 1.3rem;
  opacity: 0;
}
.main_interface_project #subContainer header article, .main_interface #subContainer header article {
  display: flex;
  width: 0;
  height: 0;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 0rem 1.5rem;
  color: transparent;
  cursor: pointer;
}
.main_interface_project #subContainer header article h1, .main_interface #subContainer header article h1 {
  padding-top: 0.4rem;
  font: 1.2rem Jumper;
}
.main_interface_project #subContainer header article svg, .main_interface #subContainer header article svg {
  transition: 5s;
}
.main_interface_project #subContainer header article:hover > svg, .main_interface #subContainer header article:hover > svg {
  transform: rotate(25turn) scale(1.5);
}
.main_interface_project #subContainer section, .main_interface #subContainer section {
  height: 66%;
  display: grid;
  grid-template: 50% 50%/50% 50%;
  place-items: center;
}

.main_interface_project {
  display: block;
  height: 100%;
  width: 80%;
  padding-top: 5%;
}
.main_interface_project #container {
  border: 1px dashed white;
  width: 0;
  height: 0;
  margin: auto;
}

/*# sourceMappingURL=output.css.map */
