#spider,#curves{
  #text{
    text{
      cursor: pointer;
    }
  }

  
}
#curves{
  #switch{
    text{
      fill: white;
    }
    text:nth-of-type(1),text:nth-of-type(2){
      text-transform: uppercase;
    }
    text:nth-of-type(2){
      cursor: pointer;
      opacity: 0.2;
    }
    text:nth-of-type(2):hover{
      transition: 0.4s;
      opacity: 1;
    }
  }
}

#lines{
  #switch{
    text{
      fill: white;
    }
    text:nth-of-type(1),text:nth-of-type(2){
      text-transform: uppercase;
      opacity: 0.2;
      cursor: pointer;
    }
    text:nth-of-type(1):hover,text:nth-of-type(2):hover{
      transition: 0.4s;
      opacity: 1;
    }
  }}