.main_interface_project{
  display: block;
  height: 100%;
  width: 80%;
  padding-top: 5%;

  #container{
    border: 1px dashed white;
    width: 0;
    height: 0;
    margin: auto;
    width: 70%;
    height: 0;
    margin-left: 10%;
    overflow: hidden;
    border-left: 1px dashed white;
    border-right: 1px dashed white;

    header {
      display: grid;
      height: 33%;
      grid-template: 50% 50%/70% 30%;
      overflow: hidden;

      p {
        grid-area: 1/1/3/1;
        text-align: center;
        line-height: 30px;
        padding: 0 2rem;
        font-size: 1.3rem;
        opacity: 0;
      }

      article {
        display: flex;
        width: 0;
        height: 0;
        overflow: hidden;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        padding: 0rem 1.5rem;
        color: transparent;
        cursor: pointer;

        h1 {
          padding-top: 0.4rem;
          font: 1.2rem $font-title;
        }

        svg {
          transition: 5s;
        }

        &:hover > svg {
          transform: rotate(25turn) scale(1.5);
        }
      }
    }

    section {
      height: 66%;
      display: grid;
      grid-template: 50% 50%/50% 50%;
      place-items: center;
    }
  }
}