.main_projects {
  width: 70%;
  height: 100%;

  .projects_container{
    height: 100%;
    display: grid;
    grid-template: 25% 60% 15%/ 15% repeat(2,35%) 15%;
  }
  
  #headerProject{
    padding: 2rem 0 0;
    grid-area: 1/2/2/3;

    h1{
      font:400 3.5rem $font-title;
      padding-top: 0.5rem;
      letter-spacing: 5px;
    }
    h2{
      font:500 1.4rem $font-title ;
      text-transform: uppercase ;
      span{
        font:500 1.4rem $font-title ;
        text-transform: uppercase ;
      }
    }
  }
  #subContainer{
    grid-area: 2/2/3/4;
    display: grid;
    place-self: center;
    width: 0;
    height: 0;
    transition: .3s;
    position: relative; 
    box-shadow:0 0 20px 0px #DA06AE,inset 0 0 20px 0px #DA06AE;
    border-radius: 1rem;
    p{
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
    }
    a  {
      color: $text-blue;
    }
    h3{
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }
    *{
      transition: 0.3s;
      opacity: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      padding-top: 2rem;
      color: white;
    }

    &:hover *{
      background: rgba(0, 0, 0, 0.801);
      opacity: 1;
    }
  }
  #next{
    width: 60px;
    height: 50px;
    cursor: pointer;
    grid-area: 3/3/4/4;
    justify-self: end;
  }
  #previous{
    width: 60px;
    height: 50px;
    cursor: pointer;
    grid-area: 3/2/4/3;
  }
}
