.main_projects {
  width: 70%;
  height: 100%;

  .projects_container {
    height: 100%;
    display: grid;
    grid-template: 25% 60% 15%/ 15% repeat(2, 35%) 15%;
  }

  #headerProject {
    padding: 2rem 0 0;
    grid-area: 1/2/2/5;

    h1 {
      font: 400 3.5rem $font-title;
      padding-top: 0.5rem;
      letter-spacing: 5px;
    }

    h2 {
      font: 500 1.4rem $font-title ;
      text-transform: uppercase;

      span {
        font: 500 1.4rem $font-title ;
        text-transform: uppercase;
      }
    }
  }

  #subContainer {
    grid-area: 2/2/3/4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    place-self: center;
    width: 100%;
    height: 0px;
    transition: .3s;
    position: relative;
    box-shadow: 0 0 2rem 4px #DA06AE;
    border-radius: 1rem;

    #blur {
      position: absolute;
      height: 100%;
      width: 100%;
      opacity: 1;
      z-index: 2;
      border-radius: 1rem;
      transition: 0.5s;
      box-shadow: inset 0 0 1rem 7px #DA06AE;
    }

    * {
      display: block;
      transition: 0.3s;
      opacity: 0;
      width: 100%;
      height: min-content;
      text-align: center;
      color: black;
    }

    p {
      font: 1.3rem $font-title;
    }

    h3 {
      font-size: 1.3rem;
    }

    &:hover * {
      z-index: 100;
      opacity: 1;
    }

    &:hover #blur {
      filter: blur(1rem);
      box-shadow: 0 0 2rem 4px #DA06AE, inset 0 0 1rem 4px #DA06AE;
    }
  }

  #next {
    width: 60px;
    height: 50px;
    cursor: pointer;
    grid-area: 3/3/4/4;
    justify-self: end;
  }

  #previous {
    width: 60px;
    height: 50px;
    cursor: pointer;
    grid-area: 3/2/4/3;
  }
}